{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}    

{% block page_title %}My files{% endblock %}

{% block content %}

{% if user['username'] is defined %}

<table>
    <tr>
        <td></td>
        <td>Name</td>
        <td>Modified last</td>
        <td>Download</td>
        <td>Delete</td>
        <td>Move to</td>
    </tr>
    {% for item in directory %}
        <tr>
            <td><i class="fas fa-{{ item['type'] }}"></i></td> {# 1st <td> #}
            {# 2nd <td> #}
            {% if item['type'] == 'folder' %}

                {% if item['name'] == '..' %}

                <td><a href="?action=files&amp;dir={{ lowerlevel }}">{{ item['name'] }}</a></td>
                
                {% else %}

                <td><a href="?action=files&amp;dir={{ currentdir }}/{{ item['name'] }}">{{ item['name'] }}</a></td>                
                
                {% endif %}

            {% else %}

            <td>{{ item['name'] }}</td>

            {% endif %}
            {# End 2nd <td> #}


            <td>{{ item['modified_last'] }}</td> {# 3rd <td> #}

            {# 4th and 5th <td> #}
            {% if item['type'] == 'file' %}

            <td><a href="?action=download&amp;file={{ currentdir }}/{{ item['name'] }}"><i class="fas fa-download"></i></a></td>
            <td><a href="?action=delete&amp;dir={{ currentdir }}&amp;file={{ currentdir }}/{{ item['name'] }}"><i class="fas fa-trash"></i></a></td>
            
            {% else %}

            <td></td>
                {% if item['name'] != '..' %} 
                <td><a href="?action=deleteDir&amp;dir={{ currentdir }}/{{ item['name'] }}"><i class="fas fa-trash"></i></a></td>
                {% else %}
                <td></td>
                {% endif %}
            {% endif %}
            {# End 4th and 5th <td> #}

            {# 6th <td> #}
            {% if item['name'] != '..' %}
            <td>
                <div class="move"><i class="fas fa-share"></i></div>
                <div class="selection">
                    <select>
                        {% for folder in folders %}
                        <option value="{{ folder }}">{{ folder }}</option> 
                        {% endfor %}
                    </select>
                    <i class="fas fa-check"></i>
                    <i class="fas fa-times"></i>
                </div>
            </td>
            {% else %}
            <td></td>
            {% endif %}
            {# End 6th <td> #}
        </tr>
    {% endfor %}
    {% if error != "" %}
    <tr>
        <td><i class="fas fa-times"></i></td>
        <td>{{ error }} </td>
    </tr>
    {% endif %}
</table>

{% else %}

<div class="warning">Login to see your files</div>

{% endif %}

{% endblock %}