{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}    

{% block page_title %}My files{% endblock %}

{% block content %}

{% if user['username'] is defined %}

<table>
    {% for item in directory %}
        <tr>
            <td><i class="fas fa-{{ item['type'] }}"></i></td>
            <td>
            {% if item['type'] == 'folder' %}
                {% if item['name'] == '..' %}
                <a href="?action=files&amp;dir={{ lowerlevel }}">{{ item['name'] }}</a>
                {% else %}
                <a href="?action=files&amp;dir={{ currentdir }}/{{ item['name'] }}">{{ item['name'] }}</a>
                {% endif %}
            {% else %}
            {{ item['name'] }}
            {% endif %}
            </td>
            <td>{{ item['modified_last'] }}</td>
            {% if item['type'] == 'file' %}
            <td><a href="?action=download&amp;file={{ currentdir }}/{{ item['name'] }}"><i class="fas fa-download"></i></a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    {% if error != "" %}
    <tr>
        <td><i class="fas fa-times"></i></td>
        <td>{{ error }} </td>
    </tr>
    {% endif %}
</table>

{% else %}

<div class="warning">Login to see your files</div>

{% endif %}

{% endblock %}